{{extends "base"}}

{{contentFor content}}
  <!--[if mso | IE]>
  <table align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:600px;" width="600">
    <tr>
      <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
        <![endif]-->
        <div style="background:#ffffff;background-color:#ffffff;Margin:0px auto;max-width:600px;">
          <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
                 style="background:#ffffff;background-color:#ffffff;width:100%;">
            <tbody>
            <tr>
              <td style="direction:ltr;font-size:0px;padding:20px 0;text-align:center;vertical-align:top;">
                <!--[if mso | IE]>
                <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td class="" style="vertical-align:top;width:600px;">
                      <![endif]-->
                      <div class="mj-column-per-100 outlook-group-fix"
                           style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                        <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%">
                          <tr>
                            <td align="left" style="font-size:0px;padding:0 32px 12px 32px;word-break:break-word;">
                              <div style="font-family:Open Sans, sans-serif;font-size:16px;line-height:1.5;text-align:left;color:#373737;">
                                <span>Attached, you will find a list of events that have been identified in QOMPLX CYBER.<br> There were {{events_count}} number of events triggered since the last notification.
                                    <br>To learn more about these events, please log into <a target="_blank" href="{{cyber_link}}" style="color:#373737;">CYBER</a>
                                </span>
                              </div>
                            </td>
                          </tr>
                        </table>
                      </div>
                <!--[if mso | IE]>
                  </td>
                </tr>
                </table>
                <![endif]-->
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <!--[if mso | IE]>
      </td>
    </tr>
  </table>
  <![endif]-->
{{/contentFor}}
